
:root {
   --clr1: rgb(21, 12, 104);
   --clr2: rgb(236, 68, 90);
   --clr3: #fff;
   --clr4: #000;
   --clr5: lightgray;
   --clr6: yellow;
   --clr7:rgb(226, 27, 183);
 
      --pink: #E72E77;
      --black: #130f40;
      --light-color: #666;
      --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
      --border: .2rem solid rgba(0,0,0,.1);
      --outline: .1rem solid rgba(0,0,0,.1);
      --outline-hover:.2rem solid var(--black);
}


.footer{
    background: #fff; 
   
    display: grid;
    
 }
 
 .footer .box-container{
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
     gap: 1.5rem;
 }
 
 .footer .box-container .box h3{
     font-size: 2.5rem;
     color: var(--black);
     padding: 1rem 0;
     text-align: left;
     /* padding-right: 10.5rem; */
 }
 
 .footer .box-container .box h3 a{
   text-align: center;
}
 .footer .box-container .box .share a:hover{
     transform: rotate(360deg);
     transition: 1s ease;
     color:var(--pink) ;
 }
 
 .footer .box-container .box h3 i{
    color: var(--pink);
 }
 .footer .box-container .box .links{
     display: block;
     font-size: 1.5rem;
     color: var(--light-color);
     padding: 1rem 0;
  }
 
  .footer .box-container .box .links i{
 
     color: var(--pink);
     padding-right: .5rem;
  }
 
  .footer .box-container .box .links:hover i{
 
     padding-right: 2rem;
  }
 
  .footer .box-container .box p{
     line-height: 1.8;
     font-size: 1.5rem;
     color: var(--light-color);
     padding: 1rem 0;
  }
 
  .footer .box-container .box .share a{
     height: 4rem;
     width: 4rem;
     line-height: 4rem;
     border-radius: .5rem;
     font-size: 2rem;
     color: var(--black);
     margin-left: .2rem;
     background: #eee;
     text-align: center;
  }
 
  .footer .box-container .box .email{
     width: 100%;
   margin: .7rem 0;
   padding: 1rem;
   border-radius: .5rem;
   background: #eee;
   font-size: 1.6rem;
   color: var(--black);
   text-transform: none;
 
  }
 
  .footer .box-container .box .payment-img{
 
 margin-top: 2rem;
 height: 10rem;
 
  }
 
 .footer .credit{
     text-align: center;
     margin-top: 2rem;
     padding: 1rem;
     padding-top: 2.5rem;
     color: var(--black);
     border-top: var(--border);
     font-size: 2.1rem;
 }
 
 .footer .credit span{
     color: var(--pink);
 }
 
 @media(max-width:450px){

.footer{
   text-align: center;
}  
.footer .box-container .box h3{

   padding: 0 1.5rem;
}  
}




@media(max-width:991px) {

}

@media(max-width:768px) {

}

@media(max-width:450px) {
   .footer{
      text-align: center;
   }

   .footer .box-container .box h3{

      text-align: center;
      /* padding-right: 10.5rem; */
  }
}

